{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.8-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Шапка базовой страницы -->
    <nav class="navbar navbar-expand-lg bg-light border-bottom px-3">
    <div class="container-fluid">


        <!-- Название сайта -->
        <a class="navbar-brand fw-bold" href="{% url 'home' %}">AskMe</a>


        <form class="d-flex mx-auto" role="search" onsubmit="return false;">
        <input class="form-control me-2" type="search" placeholder="Поиск..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Найти</button>
        </form>

        <!-- Вариант для неавторизованного пользователя -->
        <!-- <div class="d-flex align-items-center gap-2">
        <a href="{% url 'login' %}" class="btn btn-outline-success btn-sm">Войти</a>
        <a href="{% url 'signup' %}" class="btn btn-primary btn-sm">Регистрация</a>
        </div> -->
        
        <!-- Альтернативный вариант для авторизованного пользователя: -->
        <div class="d-flex align-items-center gap-2">
        <a href="{% url 'profile' %}" class="d-inline-block" title="Редактировать профиль" aria-label="Редактировать профиль">
            <img src="{% static 'img/logo.png' %}" alt="Аватар" width="40" height="40" class="rounded-circle border">
        </a>
        <span class="fw-bold">user</span>
        <a href="" class="btn btn-outline-danger btn-sm">Выйти</a>
        </div>

       
</div>
    </div>
    </nav>
    <!-- Основная разметка на основе двух столбцов -->
    <main class="container my-4 flex-grow-1">
        <div class="row">
            <!-- Главная часть с вопросами -->
            <div class="col-lg-8">
                {% block content %}
                {% endblock %}
            </div>

            <!-- Вспомогательная часть с тегами и лучшими пользователями -->
            <div class="col-lg-4">
                {% block sidebar %}
                <div class="card mb-3">
                    <div class="card-header">
                        Популярные теги
                    </div>
                    <!-- Заглушка под теги -->
                        <div class="card-body">
                        <a href="{% url 'tag' 'python' %}" class="badge bg-secondary me-1 mb-1">Python</a>
                        <a href="{% url 'tag' 'django' %}" class="badge bg-secondary me-1 mb-1">Django</a>
                        <a href="{% url 'tag' 'web' %}" class="badge bg-secondary me-1 mb-1">Web</a>
                        </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        Лучшие пользователи
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-0">
                            <li>Пользователь1</li>
                            <li>Пользователь2</li>
                            <li>Пользователь3</li>
                        </ul>
                    </div>
                </div>
                {% endblock %}
                </div>
        </div>
    </main>

    <footer class="border-top py-3 bg-light mt-auto">
    <div class="container text-center small">
        &copy; 2025 AskMe. Все права защищены.
    </div>
</footer>
<script src="{% static 'bootstrap-5.3.8-dist/js/bootstrap.bundle.js' %}"></script>

</body>
</html>