{% extends "base.html" %}
{% load static %}
{% block title %}Не Главная - AskMe{% endblock %}

{% block content %}

<!-- Вкладки -->
<div class="mb-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Новые</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'hot' %}">Лучшие</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ask' %}">Задать вопрос</a>
        </li>
    </ul>
</div>

<!-- Список вопросов -->
{% for q in page_obj.object_list %}
    {% include "question.html" with q=q %}
{% empty %}
    <div class="text-muted">Вопросов пока нет.</div>
{% endfor %}

<!-- Пагинация -->
{% include "paginator.html" with page_obj=page_obj %}

{% endblock %}
