{% extends "base.html" %}
{% load static %}
{% block title %} Аутентификация {% endblock %}

{% block content %}
<div class="container" style="max-width: 500px;">
    <h3 class="mb-4">Вход</h3>

    <div class="alert alert-danger" role="alert">
        Неверный логин или пароль.
    </div>

    <form method="post" novalidate>
        {% csrf_token %}

        <!-- Поле для имени пользователя -->
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control is-invalid" id="username" name="username"
                   placeholder="Введите имя пользователя" maxlength="50">
            <div class="invalid-feedback">
                Поле обязательно для заполнения.
            </div>
        </div>

        <!-- Поле для ввода пароля пользователя -->
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control is-invalid" id="password" name="password"
                   placeholder="Введите пароль" maxlength="50">
            <div class="invalid-feedback">
                Поле обязательно для заполнения.
            </div>
        </div>

        <button type="submit" class="btn btn-primary w-100">Войти</button>
    </form>
</div>
{% endblock %}
